<html>
  <body>
    <h2>Hello {{name}},</h2>

    <p>Thank you for signing up. Please verify your email
    <p>
      {{code}}
    </p>

    <p>This code expires in 24 hours.</p>

    <p>— Your App Team</p>
  </body>
</html>